@import './base.scss';

#p5-canvas {
    position: absolute;
    right: 0;
    top: 0;

    @include mobile {
        visibility: hidden;
    }
}

.hero-bg-gradient {

    @include desktop {
        background-size: auto 5%;
    }

    background: linear-gradient(180deg, transparentize($background, 0.8), transparentize($background, 0.2), transparentize($background, 0.01), transparentize($background, 0.001));
    background-repeat: no-repeat;
    background-position-y: 101%;
    background-size: auto 20%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero-body {

    // Fix gap in background rendering
    margin-bottom: -1px;

    h1 {
        text-shadow: 3px 4px 20px transparentize($background, 0.5);
    }

    p {
        color: $text-primary;
        text-shadow: 2px 3px 8px transparentize($background, 0.5);
    }
}

.chevron-down {
    $padding: 16px;

    position: absolute;
    left: calc(50% - #{$padding + 12px});
    bottom: 10px;

    button { 
        padding: $padding;
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        &:hover {
            transform: translateY(6px);
            transition-duration: 0.5s;
        } 

        &:hover svg path {
            fill: $text-primary;
            transition: fill 800ms;
        }
    }   
}

.projectitem {
    p:not(:last-child) {
        margin-bottom: 12px;
    }
}

.portfolio-image {
    border-radius: 0px;
}

.portfolio-image::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: $text-primary;
    content: '';
    z-index: -1;
    border-radius: 16px;
}

button {
    background-color: $background;
    border-width: 2px;
    color: $text-primary;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@for $i from 0 to 5 {
    .fadein-#{$i + 1} {
        -webkit-animation-name: fadeInUp;
        -moz-animation-name: fadeInUp;
        animation-name: fadeInUp;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 0.8s + 0.3s * $i;
    }
}
